@model ANAILYAHOME.entityes.oturmafiyatler
@{
    ViewData["Title"] = "fiyatgetir";
    Layout = "~/Views/Shared/_LayoutAdmen.cshtml";
}


@using (Html.BeginForm("oturmafiyatguncele", "Admen", FormMethod.Post))
{
    <h2 style="font-weight:700;margin-top:-50px;padding-bottom:15px">Oturma Fıyat Güncele</h2>
   
    @Html.LabelFor(x =>x.id)
    @Html.TextBoxFor(x=>x.id, new {@class ="form-control"})
    <br />
    @Html.LabelFor(x =>x.uclukultuk)
    @Html.TextBoxFor(x=>x.uclukultuk, new {@class ="form-control"})
    <br />
    @Html.LabelFor(x =>x.ikilikultuk)
    @Html.TextBoxFor(x=>x.ikilikultuk, new {@class ="form-control"})
    <br />
    @Html.LabelFor(x =>x.pejeri)
    @Html.TextBoxFor(x=>x.pejeri, new {@class ="form-control"})
    <br />
@*
    <h2 style="color:black;font-weight:700">Yatma Odasi</h2>
    <br />

    @Html.LabelFor(x =>x.sandaliye)
    @Html.TextBoxFor(x=>x.sandaliye, new {@class ="form-control"})
    <br />
    @Html.LabelFor(x =>x.yidilik)
    @Html.TextBoxFor(x=>x.yidilik, new {@class ="form-control"})
    @Html.LabelFor(x =>x.yatakçekmeceli)
    @Html.TextBoxFor(x=>x.yatakçekmeceli, new {@class ="form-control"})
    <br />
    @Html.LabelFor(x =>x.yataş)
    @Html.TextBoxFor(x=>x.yataş, new {@class ="form-control"})
    <br />
    <br />
    @Html.LabelFor(x =>x.ortaSehba)
    @Html.TextBoxFor(x=>x.ortaSehba, new {@class ="form-control"})
    <br />
    @Html.LabelFor(x =>x.konsol)
    @Html.TextBoxFor(x=>x.konsol, new {@class ="form-control"})
    <br />
    @Html.LabelFor(x =>x.sanduk)
    @Html.TextBoxFor(x=>x.sanduk, new {@class ="form-control"})
    <br />
    @Html.LabelFor(x =>x.Aynafiyat)
    @Html.TextBoxFor(x=>x.Aynafiyat, new {@class ="form-control"})
    <br />
    @Html.LabelFor(x =>x.anbarli)
    @Html.TextBoxFor(x=>x.anbarli, new {@class ="form-control"})
    <br />
    @Html.LabelFor(x =>x.boffiyat)
    @Html.TextBoxFor(x=>x.boffiyat, new {@class ="form-control"})
    <br />
    @Html.LabelFor(x =>x.ucluSehba)
    @Html.TextBoxFor(x=>x.ucluSehba, new {@class ="form-control"})
    <br />

    <h2 style="color:black;font-weight:700">Çocuk Odasi</h2>
    <br />

    @Html.LabelFor(x =>x.calismamasasi)
    @Html.TextBoxFor(x=>x.calismamasasi, new {@class ="form-control"})
    <br />
    @Html.LabelFor(x =>x.raflar)
    @Html.TextBoxFor(x=>x.raflar, new {@class ="form-control"})
    <br />
    @Html.LabelFor(x =>x.kutuphane)
    @Html.TextBoxFor(x=>x.kutuphane, new {@class ="form-control"})
    <br />*@

    <button class="btn btn-success">Fiyat Ekle</button>
}


