@model ANAILYAHOME.entityes.FiyatEntity
@{
    ViewData["Title"] = "yeniFiyat";
    Layout = "~/Views/Shared/_LayoutAdmen.cshtml";
}




<br />
<form class="form-group" method="post">

    @Html.LabelFor(x =>x.UrunId)
    @Html.TextBoxFor(x=>x.UrunId, new {@class ="form-control"})
    <br />
    <label class="col-form-label">Ulke</label>
    @Html.DropDownList("Ulke",
    Html.GetEnumSelectList<ulkeler>(),
    "Ulke Seç",
    new {@class ="form-control"} )
    <br />
    @Html.LabelFor(x =>x.Anafiyat)
    @Html.TextBoxFor(x=>x.Anafiyat, new {@class ="form-control"})
    <br />
  



    <button class="btn btn-success">Oturma Odası Ekle</button>
</form>

