@model ANAILYAHOME.entityes.Buyutlar
@{
    ViewData["Title"] = "yeniBoyut";
    Layout = "~/Views/Shared/_LayoutAdmen.cshtml";
}





<form class="form-group" method="post">


    @Html.LabelFor(x =>x.Genişlik)
    @Html.TextBoxFor(x=>x.Genişlik, new {@class ="form-control"})
    <br />
    @Html.LabelFor(x =>x.Yükseklik)
    @Html.TextBoxFor(x=>x.Yükseklik, new {@class ="form-control"})
    <br />
    @Html.LabelFor(x =>x.Derinlik)
    @Html.TextBoxFor(x=>x.Derinlik, new {@class ="form-control"})
    <br />

    @Html.LabelFor(x =>x.UrunId)
    @Html.TextBoxFor(x=>x.UrunId, new {@class ="form-control"})
    <br />


    <button class="btn btn-success">Boyut Ekle</button>
</form>




